{% extends 'base.html.twig' %}

{% block title %}Contact!
{% endblock %}

{% block body %}
	<section>
		<div class="card-header">
			<h1>Qui contacter aux Bois du Cerf ?</h1>
		</div>
		<h2>La Loge</h2>
		<strong>Tel : 01 60 75 10 84</strong>
		<br>
		<br>
		<h2>Représentants du Conseil Syndical</h2>
		<a href="!">Liste des représentant(e)s</a>
		<br>
		<br>
		<h2>Comité piscine</h2>
		BAUCHER Stéphane
		<br>
		GUERICHER Antoine
		<br>
		<br>
		<h2>Bureau tennis</h2>

		GIROUX Michel
		<br>
		<strong>Tel : 01 60 75 36 71</strong>
		<br>
		<br>
		<h2>Commerces</h2>
		<div class="card-footer">
			Boulangerie : L'Epi Curieux
			<a href="https://www.facebook.com/epicurieux91/about/?ref=page_internal">
				<img class="logo_facebook" src="logos/facebook.png" alt=""></a>

			<strong>Tel : 01 69 90 95 48</strong>
			(Fermeture le lundi)
		</div>
		<br>
		<div class="card-footer">
			Agence :
			<a href="https://www.immodea.fr/fr/">Demeures d'Etiolles et d'Ailleurs</a>
			<img class="dea" src="https://d36vnx92dgl2c5.cloudfront.net/cache/prod/Altera/839/media/82b7dfd1554b5a5d8eda03698d9e3f0c.webp" alt="">
		</div>
		<strong>Tel : 01 60 75 63 32</strong>
		<br>
		<br>
		<h2>Divers</h2>
		<a href="https://www.etiolles.fr/">Site du village d' Etiolles</a>

	</section>
{% endblock %}
