{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
	<div class="container pt-5 pb-5">
		<div class="card">
			<div class="card-header">
				<h1>Galerie</h1>
			</div>
			<div
				class="card-body">
				{# <h3>{{ post.title | upper }}</h3> #}
				<h3>titre</h3>
			</div>
			<div
				class="card-body">
				{# <h3>{{ post.title | upper }}</h3> #}
				<h3>image</h3>
			</div>
			<div
				class="card-body">
				{# <h3>{{ post.title | upper }}</h3> #}
				<h3>légende</h3>
			</div>
		</div>
	</div>
{% endblock %}
